	<!doctype html>
	<html ng-app="myApp">
	<head>
	<style>
	  #error {color: red} 
	  #success {color:blue} 
	  .action {text-decoration: underline; cursor:pointer;}
	  span { border-right: 1px solid #ccc; padding: 10px}
	</style>
	</head>
	<body>
		<div ng-controller="MessageController">
			<fieldset>
				<legend>Mensagem</legend>
				<form>
					<div id="success" ng-bind="successMsg"></div>
					<div id="error" ng-bind="errorMsg"></div>
					
					ID: <input type="number" ng-model="msg.messageId" /><br />
					Texto: <input type="text" ng-model="msg.text" /><br />
					
					<button ng-click="query()">Buscar</button>
					<button ng-click="save()" ng-show="!msg.messageId">Salvar</button>
					<button ng-click="update()" ng-show="msg.messageId">Atualizar</button>
					<button ng-click="clear()">Limpar</button>
				</form>
			</fieldset>
			
			<h2>-Mensagens-</h2>
			<div ng-repeat='m in messages'>
				<span>{{m.messageId}}</span>
				<span>{{m.text}}</span>
				<span ng-click="edit(m)" class="action" title="Editar {{m.messageId}} - {{m.text}}">Editar</span>
				<span ng-click="remove(m, $index)" class="action" title="Remover {{m.messageId}} - {{m.text}}">Remover</span>
			</div>
		</div>

		<script src="angular.min.js"></script>
		<script src="angular-resource.min.js"></script>
		<script type="text/javascript">
			var app = angular.module('myApp', ['ngResource']);
			app.controller('MessageController', [ '$scope', '$resource', function($scope, $resource) {
				var Messages = $resource('/myapp/api/messages/:messageId', {messageId: "@messageId"}, 
				{
					update: {
						method: 'PUT',
						isArray: false
					}
				}
				);

				$scope.messages = [];

				$scope.error = function(error){
					$scope.successMsg = '';
					$scope.errorMsg = "Error - Status " + error.status;
				};

				$scope.success = function(successMsg, message){
					$scope.msg = message;
					$scope.successMsg = successMsg;
					$scope.errorMsg = '';
				};

				$scope.clear = function(){
					$scope.msg = {};
					$scope.successMsg = '';
					$scope.errorMsg = '';
				};

				$scope.query = function(){
					var params = {};
					params['id'] = $scope.msg.messageId;
					params['content'] = $scope.msg.text;
					
					Messages.query(params, function(messages){
						$scope.messages = messages;
					},
					function(errorMsg){
						$scope.error(errorMsg);
					});
				};
				

				$scope.save = function(){
					Messages.save({}, angular.toJson($scope.msg), function(message){
						$scope.messages.push(message);
						$scope.success("Mensagem criada com Sucesso", message);
					},
					function(errorMsg){
						$scope.error(errorMsg);
					});
				};


				$scope.update = function(){
					Messages.update({ messageId: $scope.msg.messageId }, angular.toJson($scope.msg), function(message){
						$scope.success("Mensagem atualizada com Sucesso", message);
					},
					function(errorMsg){
						$scope.error(errorMsg);
					});
				};

				$scope.remove = function(m, index) {
					Messages.remove({ messageId: m.messageId }, angular.toJson(m), function(message){
						$scope.success("Mensagem excluída com Sucesso", null);
						$scope.messages.splice(index, 1);
					},
					function(errorMsg){
						$scope.error(errorMsg);
					});
				}

				$scope.edit = function(m) {
					$scope.msg = m;
				}
			} ]);
		</script>
	</body>
	</html>