	<!doctype html>
	<html ng-app="myApp">
	<style type="text/css">
	input {
		padding: 10px;
	}
	input.ng-invalid.ng-dirty {
		background-color: #FA787E;
		border: 1px solid #ccc;
	}
	input.ng-valid.ng-dirty {
		background-color: #78FA89;
		border: 1px solid #ccc;
	}
	</style>
	<body>
	<div ng-controller="FormController">
		<form novalidate="novalidate">
		     Nome: <input type="text" ng-model="usuario.nome" required  /><br />
		     Sexo: <input type="radio" ng-model="usuario.sexo" value="M" required />Masculino
		  <input type="radio" ng-model="usuario.sexo" value="F" />Feminino<br />
		  <button ng-click="salvar(usuario)">Salvar</button>
		</form>
		<b>{{usuario | json}}</b>
	</div>
	<script src="angular.min.js"></script>
	<script type="text/javascript">
	var app = angular.module('myApp', []);

	app.controller('FormController', [ '$scope', function($scope) {
		$scope.salvar = function(usuario){
			this.usuario = {};
		}
	} ]);
	</script>
	</body>
	</html>
